<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>会員登録</title>
</head>
<body>
<h1>会員登録</h1>
<div>
    <h1>会員登録（お客様情報入力）</h1>
        <p>
            会員登録のお客様情報の入力をお願いいたします。入力が済みましたら、<span class="dummy_btn1">次へ</span>ボタンを押してください。<br>
        </p>

        <form method=post action=''>
               <h3>お客様情報</h3>
            <table border="0">
                <div>
                    <p>姓</p>
                    <p><input name="Sei" type="text" value='' maxlength="22" class="nameW"/></p>
                    <p>名</p><input name="Mei" type="text" value='' maxlength="22" class="nameW"/>
                </div>
                <div>
                    <p>郵便番号 ※必須</p>
                    <p><input type="text"></p>
                </div>
                <div>
                    <p>都道府県 ※必須</p>
                    <p><input type="text"></p>
                </div>
                <div>
                    <p>市区町村 番地 ※必須</p>
                    <p><input type="text"></p>
                </div>
                <div>
                    <p>建物名 部屋番号</p>
                    <p><input type="text"></p>
                </div>
                <div>
                    <p>電話番号 ※必須</p>
                    <p><input type="tel"></p>
                </div>
                <div>
                    <p>性別</p>
                    <p>
                        <input type="radio" id="radio01" name="Sex"  value="1"  /><label for="radio01" class="radioR">&nbsp;男性</label>
                        <input type="radio" id="radio02" name="Sex"  value="2"  /><label for="radio02" class="radioR">&nbsp;女性</label>
                    </p>
                </div>
                <div>
                    <p>生年月日</p>
                    <p><input type="date">
                    </p>
                </div>
                <div>
                    <p>メールアドレス ※必須</p>
                    <p><input type="email"></p>
                </div>
                <div>
                    <p>パスワード ※必須</p>
                    <p>※半角英数字（6桁以上）必ずアルファベット、数字を混在させたパスワードにしてください。</p>
                    <p><input name="password1" type="password" style="ime-mode: disabled" maxlength="127" class="addW">
                    </p>
                </div>
                <div>
                    <p>パスワード再入力 ※必須</p>
                    <input name="password2" type="password" style="ime-mode: disabled" class="addW"/>
                </div>
            </table>
            <div>
                <p><input type="submit" name="next" value="次　へ"></p>
                <p>確認画面へ進みます</p>
            </div>
        </form>
    </div>
<!--++ /contents ++-->

</body>
</html>